[submodule "docs"]
	path = docs
	url = https://github.com/dippyshere/battle-breakers-documentation
[submodule "res/battle-breakers-data"]
	path = res/battle-breakers-data
	url = https://github.com/dippyshere/battle-breakers-data.git
