[submodule "docs"]
	path = docs
	url = https://github.com/Breakers-Revived/battle-breakers-documentation.git
[submodule "res/battle-breakers-data"]
	path = res/battle-breakers-data
	url = https://github.com/Breakers-Revived/battle-breakers-data.git
