# Required Python Dependencies
# ----------------------------
# setup dependencies
setuptools
wheel
# JSON handling
orjson
# Web server
sanic[ext]>=25.3.0
# Colourful logging
colorama
# TOML backwards compatibility for Python 3.10
tomli
# JSON Web Token handling
pyjwt
# Information for /version
py-cpuinfo
gitpython
distro
# GZIP + Deflate compression (here for credit, implementation is replaced)
sanic-gzip
# Brotli compression
Brotli
# Async file handling
aiofiles
# Password hashing
bcrypt
# Input validation
pydantic>=2.0
pydantic_core
# Crypto
cryptography
# Characterset detection speedup
faust-cchardet
# Async HTTP client
aiohttp[speedups]
urllib3
# MongoDB driver
pymongo>=4.13.0
# Calendar system
icalendar
recurring-ical-events
# async caching speedup
async-lru
# for fuzzy searching
rapidfuzz
# for randomisation
numpy
